/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * Bouncers implementation : © Ori Avtalion <ori@avtalion.name>
 * Based on NinetyNine implementation: © Eric Kelly <boardgamearena@useric.com>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
  *
 * Bouncers stylesheet
 *
 */

/*

    This is the CSS stylesheet of your game User Interface.

    Styles defined on this file will be applied to the HTML elements you defined in your
    HTML template (bouncers_bouncers.tpl), and to HTML elements you create dynamically
    (in bouncers.js).

    Usually, you are using CSS to:

    1°) define the overall layout of your game
        (ex: place the board on the top left, place player's hand beside, place the deck on the right, ...).

    2°) create your CSS-sprites:
        All images of your games should be gathered into a small number of image files. Then, using
        background-image and background-position CSS properties, you create HTML blocks that can
        display these images correctly (see example below).

    3°) ... anything else:
        This is really easy to add and remove CSS classes dynamically from your Javascript with
        dojo.addClass and dojo.removeClass. This is also easy to check if an element has a class
        (dojo.hasClass) or to get all elements with a specific class (dojo.query). This is why,
        very often, using CSS classes for the logic of your user interface allow you to do complex
        thing easyly.


     Note: on the production platform, this file will be compressed and comments will be remove.
           Consequently, don't hesitate to put as many comments as necessary.
*/

@import url(../../../css/csslayer.css);

:root {
    --bgabnc-points-card-width: 72px;
    --bgabnc-points-card-height: 96px;
    --bgabnc-points-card-small-width: calc(var(--bgabnc-points-card-width) / 2);
    --bgabnc-points-card-small-height: calc(var(--bgabnc-points-card-height) / 2);
}

#bgabnc_playarea {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    min-height: 340px;
    margin-bottom: 60px;
}

#bgabnc_playarea > div {
    flex-basis: auto;
}

#bgabnc_upcoming {
    margin: 0 auto;
}

#bgabnc_upcoming_list {
    text-align: center;
    padding-top: 5px;
}

.bgabnc_container {
    height: auto;
    display: flex;
}

.bgabnc_section {
    flex-direction: row;
    width: auto;
    display: block;
}

.bgabnc_invisible {
    visibility: hidden;
}

.bgabnc_hidden {
    display: none !important;
}

#undo_button {
    color: white;
}

/** Player Score Area **/

.bgabnc_round_score {
    padding-left: 46px;
}

.bgabnc_round_score_icon:before {
    background-color: blue;
    border-radius: 50px;
}

/** Table layout **/

#bgabnc_playertables {
    /* position: relative; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-width: 698px;
    padding: 10px;
    margin: auto;
    align-items: flex-start;
}

#bgabnc_playertables > :nth-child(1) { order: 2; }
#bgabnc_playertables > :nth-child(2) { order: 4; }
#bgabnc_playertables > :nth-child(3) { order: 1; }
#bgabnc_playertables > :nth-child(4) { order: 3; }
#bgabnc_playertables > :nth-child(5) { order: 5; }

@media (max-width: 725px) {
    #bgabnc_playertables > :nth-child(1) { order: 1; }
    #bgabnc_playertables > :nth-child(2) { order: 2; }
    #bgabnc_playertables > :nth-child(3) { order: 3; }
    #bgabnc_playertables > :nth-child(4) { order: 4; }
    #bgabnc_playertables > :nth-child(5) { order: 5; }
}

.bgabnc_flex_break {
    flex-basis: 100%;
    height: 0;
}

.bgabnc_playertablename {
    font-weight: bold;
}

.bgabnc_playertable {
    text-align: center;
    width: 206px;
    margin-left: 20px;
    margin-right: 20px;
    display: inline-block;
}

.bgabnc_playertable_N {
}

.bgabnc_playertable_S {
}

.bgabnc_playertable_W {
}

.bgabnc_playertable_E {
}

.bgabnc_playertablecard {
    display: inline-block;
    position: relative;
    margin-top: 5px;
    width: 72px;
    height: 96px;
}

#bgabnc_pointstable {
    height: 100%;
    width: 150px;
    min-height: 135px;
    margin-top: 30px;
    text-align: center;
    font-size: 16px;
}

.bgabnc_playertable_scorepile {
    display: block;
    width: auto;
    margin-top: 10px;
    min-height: calc(var(--bgabnc-points-card-small-height) + 5px);
}

.bgabnc_activeplayer {
    outline: 2px dashed black;
    outline-offset: -2px;
}

/*** cards on table ***/

.bgabnc_cardontable {
    position: absolute;
    width: 72px;
    height: 96px;
    background-image: url('img/cards.jpg');
    z-index: 100;
}

#bgabnc_points_slot {
    display: inline-block;
    width: var(--bgabnc-points-card-width);
    height: var(--bgabnc-points-card-height);
    padding-top: 5px;
}

.bgabnc_points_card {
    width: var(--bgabnc-points-card-width) !important;
    height: var(--bgabnc-points-card-height) !important;
    display: inline-flex;
    vertical-align: middle;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    user-select: none;
    background-color: white;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px black;
    margin-left: 3px;
    margin-right: 3px;
}

.bgabnc_points_card.bgabnc_small {
    width: var(--bgabnc-points-card-small-width) !important;
    height: var(--bgabnc-points-card-small-height) !important;
    border-radius: 2.5px;
    position: relative; /* For X position absolutely */
}

.bgabnc_points_card > div {
    font-size: 50px;
}

.bgabnc_points_card.bgabnc_small > div {
    font-size: 25px;
}

.bgabnc_points_card_letter, .bgabnc_points_card_ability {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.bgabnc_points_card_ability {
    font-size: 20px !important;
    margin-top: 5px;
}

.bgabnc_small .bgabnc_points_card_ability {
    font-size: 10px !important;
    margin-top: 2.5px;
}

.bgabnc_points_card div:empty {
    display: none;
}

.bgabnc_points_card_x_on::before {
    content: '🗙';
}

.bgabnc_points_card_x_on {
    display: block !important;
}

.bgabnc_points_card_x {
    position: absolute;
    opacity: 0.6;
    color: red;
    font-size: 102px !important;
}

.bgabnc_small .bgabnc_points_card_x {
    font-size: 51px !important;
}

.bgabnc_suit_spade {
    background-position-y: -200%;
}

.bgabnc_suit_heart {
    background-position-y: -300%;
}

.bgabnc_suit_club {
    background-position-y: 0%;
}

.bgabnc_suit_diamond {
    background-position-y: -100%;
}

.bgabnc_rank_2 {
    background-position-x: 0%;
}

.bgabnc_rank_3 {
    background-position-x: -100%;
}

.bgabnc_rank_4 {
    background-position-x: -200%;
}

.bgabnc_rank_5 {
    background-position-x: -300%;
}

.bgabnc_rank_6 {
    background-position-x: -400%;
}

.bgabnc_rank_7 {
    background-position-x: -500%;
}

.bgabnc_rank_8 {
    background-position-x: -600%;
}

.bgabnc_rank_9 {
    background-position-x: -700%;
}

.bgabnc_rank_10 {
    background-position-x: -800%;
}

.bgabnc_rank_11 {
    background-position-x: -900%;
}

.bgabnc_rank_12 {
    background-position-x: -1000%;
}

.bgabnc_rank_13 {
    background-position-x: -1100%;
}

.bgabnc_rank_14 {
    background-position-x: -1200%;
}

/*** for notifications ***/
.bgabnc_icon {
    background: no-repeat;
    display: inline-block;
    margin: 0px 2px;
    vertical-align: text-bottom;
    width: 16px;
    height: 16px;
    background-position: center;
}

.bgabnc_suit2 {
    background-image: url("img/spade-icon.png");
}

.bgabnc_suit3 {
    background-image: url("img/heart-icon.png");
}

.bgabnc_suit0 {
    background-image: url("img/club-icon.png");
}

.bgabnc_suit1 {
    background-image: url("img/diamond-icon.png");
}

.bgabnc_highlight_trump .bgabnc_trump {
    z-index: 0;
}

.bgabnc_highlight_trump .bgabnc_trump::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: yellow;
    opacity: 0.2;
    z-index: -1;
}

.stockitem {
    cursor: default !important;
}

.bgabnc_playable {
    cursor: pointer !important;
    box-shadow: 1px 1px 1px 1px black, 0px 0px 3px 3px yellow;
}

.bgabnc_highlight_selected .gamestate_bidding .stockitem_selected {
    z-index: 0;
}

.bgabnc_highlight_selected .gamestate_bidding .stockitem_selected::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: blue;
    opacity: 0.2;
    z-index: -1;
}

/*** hand layout ***/

.bgabnc_my_cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1028px;
    margin: 0 auto;
}

#bgabnc_my_hand_container {
    display: flex;
    min-width: fit-content;
    flex-grow: 1;
    margin: 0px;
    margin-right: 10px;
    border-top: 1px solid black;
}

.spectatorMode #bgabnc_my_hand_container {
    display: none;
}

#bgabnc_myhand {
    position: relative;
    display: inline-block;
    width: 100%;
}

.tableWindow table {
    margin: 0 auto;
}
